name: goalkeeper_stats
description: Una aplicación para registrar y analizar estadísticas de porteros de fútbol.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # Estado y arquitectura
  flutter_bloc: ^8.1.3
  equatable: ^2.0.5
  provider: ^6.1.1

  # Firebase y backend
  firebase_core: ^2.24.2
  firebase_auth: ^4.15.3
  cloud_firestore: ^4.13.6
  firebase_analytics: ^10.7.4
  firebase_crashlytics: ^3.4.9
  google_sign_in: ^6.1.6

  # UI y visualización
  fl_chart: ^0.66.0
  
  # Internacionalización (versión específica requerida)
  intl: ^0.20.2
  
  # Almacenamiento y datos
  shared_preferences: ^2.2.2
  
  # HTTP y APIs
  http: ^1.1.0
  googleapis: ^11.4.0
  googleapis_auth: ^1.4.1
  
  # Utilidades
  url_launcher: ^6.2.2
  connectivity_plus: ^5.0.2
  image_picker: ^1.0.4
  permission_handler: ^11.1.0
  
  # Compras in-app
  in_app_purchase: ^3.1.11
  in_app_purchase_android: ^0.3.0+16
  in_app_purchase_storekit: ^0.3.6+7

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  build_runner: ^2.4.7

# FORZAR LA VERSIÓN DE INTL (usar con precaución)
#  dependency_overrides:
#    intl: ^0.20.2

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/icons/
  fonts:
    - family: Roboto
      fonts:
        - asset: fonts/Roboto-Regular.ttf
        - asset: fonts/Roboto-Bold.ttf
          weight: 700